body {
	font-size: 17px;
    font-family: sans-serif;
    font-family: 'ProbaPro-Regular';
    line-height: 23px;
}

.main-text {
	position: relative;
    max-width: 600px;
    margin: auto;
    font-size: 1.3em;
    margin-top: calc(5% - 10px);
    border-width: 35px 10px 20px 80px;
    padding: 50px 70px 40px 30px;
    border-color: rgb(249, 238, 78);
    border-style: solid;
    border: 1px dotted grey;
	padding: 40px;
    text-align: justify;
    font-size: 19px;
    line-height: 25px;
}

@keyframes example {
	0%   {color: #88b2de;}
    30%  {color: #88ded3;}
    60%  {color: #bd87c3;}
    100% {color: #88b2de;}
}

@keyframes example2 {
	0%   {color: #88b2de;}
    30%  {color: blue;}
    60%  {color: #2cdc2c;}
    100% {color: #88b2de;}
}

.main-text ul {
	margin: 15px 0px;
}

.main-text li {
	margin: 2px 0px;
}

a {
	color: #e43e34;
	color: #ff602e;
    color: #88b2de;
    /*animation-name: example2;
    animation-duration: 20s;
	animation-iteration-count: infinite;*/
}

.micro-info {
    color: #b9b9b9;
    font-size: 0.6em;
    padding-left: 0.7em;
    font-style: italic;
}

h2.fr-title {
    text-align: center;
    font-style: italic;
	font-size: 25px;
	margin: 15px 0px 30px;
}

.main-copyright {
    /*color: white;*/
    position: absolute;
    bottom: -21px;
    right: 15px;
    font-size: 0.9em;
	
    bottom: 3px;
    font-size: 0.7em;
    color: #c1c1c1;
    font-style: italic;
}

* {
	box-sizing: border-box;
}
 
@font-face {font-family: 'ProbaPro-Regular';src: url('webfonts/2C7715_0_0.eot');src: url('webfonts/2C7715_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C7715_0_0.woff2') format('woff2'),url('webfonts/2C7715_0_0.woff') format('woff'),url('webfonts/2C7715_0_0.ttf') format('truetype');}

code, code.hljs {
	padding: 0px 30px 20px;
	display: block;
	background-color: whitesmoke;
    font-family: monospace;
    white-space: pre;
	margin: 1em 0;
    overflow-x: scroll;
	font-size: 14px;
    line-height: 21px;
}

.tbl tr:first-child td {
	text-indent: 0;
	font-size: 16px;
	text-align: center;
	background-color: whitesmoke;
}

#in-content {
	background-color: white;
	padding: 2em;
}

.hljs-string.hljs-string {
	color: #a94801;
}
.hljs-number.hljs-number {
	color: #a94801;
}

#content.min > * {
	max-width: 800px;
}

.to-main a {
	color: #9c9c9c;
	font-style: italic;
	text-decoration: none;
}

.hljs .add {
    background-color: #e6e6e6;
    display: inline-block;
    width: 100%;
	position: relative;
}

/*.hljs .add::before {
	content: '+';
	position: absolute;
	left: -20px;
	color: green;
}*/

.to-main {
	text-indent: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 1px 15px 3px 10px;
	background-color: rgba(255, 255, 255, 0.84);
}

#content > * > div li {
    text-indent: 0px; 
}

#content > * > div {
	margin: 20px 0;
	text-indent: 0px; 
}

#content img {
	border: 1px solid #b7d1e4;
	display: block;
	margin: 1em 0;
}

#content > * {
	max-width: 800px;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 6em;
	
	border-style: solid;
    border-width: 35px 10px 20px 80px;
    padding: 50px 70px 40px 30px;
    text-align: justify;
    border-color: #b7d1e4;
	
	
	border-width: 25px 60px 40px 20px;
    padding: 50px 30px 40px 66px;
}
#content.ozenfant > * {
    border-color: #2a926a;
}
.ozenfant code {
    padding: 1.5em;
}

.oz-image {
	max-width: 100%;
    display: inline-block;
    padding: 6em 1em 3em 3em;
}

.oz-list > li {
	padding: 1em;
}

.tbl td {
	padding: 10px;
	border: 1px solid grey;
}

.doc-root {
	max-width: 800px;
	margin: auto;
}

.doc-root > * {
	border-style: solid;
    border-width: 35px 10px 20px 80px;
    padding: 50px 70px 40px 30px;
    text-align: justify;
    border-color: #b7d1e4;
    margin: 5px;
}

.mn {
	color: grey;
	font-family: courier;
}

.nb::before {
	content: '!';
	font-size: 35px;
	position: absolute;
    margin-left: -53px;
    top: 28px;
	color: #ababab;
	font-size: 35px;
}
.pq::before {
	content: '?';
	font-size: 35px;
	position: absolute;
    margin-left: -53px;
    top: 28px;
	color: #ababab;
	font-size: 35px;
}

.pq {
	list-style: none;
}
.q::before {
	content: '>';
	padding: 0px 10px;
	font-size: 21px;
}
.q {
	cursor: pointer;
}
.answer {
	display: none;
	padding: 10px 30px 0px;
}

#content .nb.nb, #content .pq.pq {
	text-indent:0px;
	position: relative;
	background-color: whitesmoke;
	color: grey;
	padding: 1em;
	margin: 1em 0;
	
}

.subcode {
	color: black;
	padding: 10px;
}

.doc-root2 > * {
	border-style: solid;
    border-width: 35px 10px 20px 80px;
    padding: 50px 70px 40px 30px;
    text-align: justify;
    margin: 5px;
    border-color: #ff6d12;
}

h1, h2, h3 {
	font-weight: normal;
	text-align: center;
}

hr {
    height: 4px;
    border: none;
    border-top: 2px solid rgb(75, 75, 75);
    border-bottom: 1px solid rgb(75, 75, 75);
    margin: 40px 70px;
}

.one {
	clear: left;
	padding-bottom: 6em;
}

.one > * {
	text-align: left;
}

.one > *:nth-child(1) {
	font-size: 1.2em;
}

.one > *:nth-child(2) {
	margin-top: 2em;
}

dt::before {
	content: '<';
}
dt::after {
	content: '>';
}

dt {
	display: inline;
	color: grey;
	padding-right: 5px;
	font-style: italic;
}

mn {
	font-weight: bold;
}

.hiddenlink {
	display: none;
}

.cooltable {
	margin: 3em;
}

.cooltable td {
    padding: 0.5em;
    border: 1px solid grey;
    text-align: center;
    font-size: 1.4em;
}
.cooltable td:first-child {
	background-color: whitesmoke;
}
.cooltable td.empty {
	background-color: grey;
}


@media (max-width: 800px) {
	body {
		font-size: 15px;
		background-color: #b7d1e4;
	}
	.main-text {
		text-align: left;
		padding: 20px;
	}
	.micro-info {
		display: block;
		font-size: 11px;
	}
	
	#content#content > * {
		max-width: 1000px;
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;

		border-style: solid;
		border-width: 15px;
		padding: 15px;
		text-align: justify;
		border-color: #b7d1e4;
	}
}

@media (max-width: 500px) {
	#content#content > * {
		border-width: 5px;
		padding: 10px;
	}
}
